@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

nav{
  background-color: black;
  align-items: center;
  max-width: 100%;
  box-shadow: none;
}
.gray-hover:hover{
  background-color: gray;
}
a.brand-logo{
  display: block;
  width: 100px;
  display: none;
}
.logo{
  font-size: .75rem;
}
.right{
    margin-right: 2.5rem;
}
.right .sign-up{
    height: 2.5em;
    border-radius: 40%;
    background-color: white;
    color: black;
}
.uber_services {
    background-image: url('images/uber-man.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 64px;
  }
  .nav-bar {
    display: flex;
    text-align: center;
    background-color: white;
    width: 90%;
    margin: auto;
    position: relative;
    flex-wrap: nowrap;
  }
  .nav-extended {
    background: white;
    box-shadow: none;
    border-bottom: 1px solid lightgrey;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
  }
  .nav-extended ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
  }
  .nav-extended ul li a {
    color: black;
    text-align: center;
    font-weight: bold;
  }
  .nav-extended ul li a:hover {
    color: gray;
  }
  .left_description {
    width: 40%;
    background-color: white;
    margin-left:5%;
    padding: 50px;
  }
  .left_description h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 52px;
    font-weight: bold;
  }
  .left_description p {
    font-size: 20px;
    line-height: 24px;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
.uber-cities {
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url('images/transport.png');
    height: 600px;
  }
.uber-cities-text{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
  }
.uber-cities-text h2 {
    margin-top: 0px;
    padding-top: 40px;
    color: black;
    line-height: 44px;
    font-weight: bold;
    font-size: 36px;
  }
.uber-cities-text p{
    text-align: left;
    margin-bottom: 40px;
    font-size: 1.5em;
  }
.uber-business {
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
  }
.business {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
.business1, .business2, .business3{
      width: 25%;
  }
.uber-business h2{
    margin-top: 0px;
    padding-top: 40px;
    color: black;
    line-height: 44px;
    font-weight: bold;
    font-size: 36px;
}
.uber-business p{
      text-align: left;
      margin-bottom: 40px;
      font-size: 1.5em;
  }
  .business-image{
    width: 100%;
  }
  .uber-safety{
    display: flex;
    justify-content: space-evenly;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .uber-safety h2{
    margin-top: 0px;
    padding-top: 40px;
    color: black;
    line-height: 44px;
    font-weight: bold;
    font-size: 36px;
}
.uber-safety p{
    text-align: left;
    margin-bottom: 40px;
    font-size: 1.2em;
}
.uber-safety img{
    margin-top: 90px;
}
.about{
    display: flex;
    text-align: center;
    width: 100%;
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    text-align: left;
}
.about h3{
    text-align: left;
    margin-top: -15px;
    padding-top: 40px;
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.about p{
    margin-bottom: 40px;
    font-size: 1.2em;
    width: 80%;
}
footer{
  margin: 0 auto;
    color: white;
    background-color: black;
}
footer p{
    padding-left: 100px;
    padding-top: 5px;
}
footer .logo{

    font-size: 2.5em;
}
footer li{
    line-height: 4;
}
footer li a{
    text-decoration: none;
    color: white;
}
footer li a:hover{
  color:gray
}
.footer-flex{
    display: flex;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
}
.footer-bottom{
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}
.footer-right-bottom{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}


/*Responsive Design*/

@media only screen and (max-width: 992px){
  .nav-wrapper{
    margin-bottom: 0;
  }
  header .brand-logo{
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  p{
    font-size: 12px;
  }
  .uber_services{
    background-image: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-bar .nav-extended ul li{
    width: 100%;
    overflow: auto;
    white-space:nowrap;
  }
  .uber_services .left_description{
    width:100%;
    margin: 0 auto;
  }
  .mobile-image{
    background-image: url(images/mobile-image.jpg);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
  }
 .uber-cities h2,p{
  font-size: 1.5rem;
  }
  .business, .about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
.business1, .business2, .business3, .aboutus, .newsroom, .global-citizenship{
      width: 48%;
  }
  .uber-business h2,p{
    font-size: 1.5rem;
  }
  .business h3,p{
    font-size: 1.5rem;
  }
  .business img{
    width: 100%;
  }
  .uber-safety{
    flex-direction: column;
  }
  .uber-safety .uber-safety-img{
    order: -1;
  }
  .uber-safety .uber-safety-img img{
  width: 100%;
  }
  footer h3,p{
    font-size: 1.5rem;
  }
  .footer-flex{
    width: 100%;
  }
  .footer-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-right-bottom,.footer-left-bottom{
   flex-basis: 45%;
  }
  footer .footer-right-bottom p, footer .footer-bottom p{
    font-size: 1rem;
  }
  footer p{
    padding-left: 6px;
  }
} 