*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* add some styling to main elements*/
body{
    background-image: url("images/bkgrnd.png");
    max-width: 90%;
    font-family: Courier, monospace;
    margin: 50px auto;
    background-color:  rgb(211, 211, 233);
}
h1,h2,h3{
    font-family: cursive;
    text-align: left;
    padding-left: 30px;
}
h2 span{
    color: #4d3bec;
    padding-right: 5px;
}
img{
    width: 200px;
    height: 300px;
    margin-left: 90px;
    border-radius: 50%;
}
small{
    color: rgb(248, 11, 11);
    padding: 20px;
    text-align: center;
}
p{
color: black;
margin-top: 10PX;
font-weight: bold;
width: 75%;
margin-top: 15px;
height: max-content;
word-wrap: break-word;
padding: 20px;
border-radius: 5%;
background-color: #b5b1b1;
font-weight: bold;
color: black;
text-align: left;
}
a{
    text-decoration: none;
    color: white;
    }
a:hover {
    transition: 0.4s ease;
    border-radius: 10%;
    color: orange;
    transition: color 0.5s;
    padding: 5px;
    }
ul{
    list-style: none;
    }
.clr{
        clear: both;
        margin-bottom: 40px;
    }

/*styling the header with flex*/
header{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        }

.standout{
        box-shadow: 10px 10px 10px rgb(134, 130, 130);
    }

    /*contact info style*/
.contact_info{
margin-top: 20px;
padding: 50px;
border-radius: 5%;
background-color: #b5b1b1;
line-height: 2em;
font-weight: bold;
}

section{
    margin-top: 40px;
    margin-bottom: 40px;
}

/*styling the info by floating it to right*/
.info{
width: 75%;
float: right;
border: 1px solid rgb(14, 13, 13);
background-color: #b5b1b1;
}

/*styling the titles (EDUCATION,EXPERIENCE and SKILLS by floating them to left*/
section h2{
    width: 22%;
    float: left;
    align-items: center;
    margin: auto;
    font-family: fantasy;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
/*styling the EDUCATION and EXPERIENCE fields */
.exp_edu{
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px dotted #fff;
}
/*remove last border from last child*/
.exp_edu:last-child{
    border: none;
}
/*EXPERIENCE explanation*/
.details{
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: left;
}
/*SKILL explanation*/
.skill{
    width:40%;
    float: left;
    margin-left: 50px;
    padding: 10px;
}
progress{
    width: 100%;
}

footer{
    font-size: 20px;
    font-weight: bold;
    background-color: #000000;
     text-align: center;
      padding: 10px;
      border-radius: 5%;
      margin-top: 30px;
}


@media only screen and (max-width:1023px){
header{
    flex-direction: column;
    max-width: 98%;
    margin: 40px auto;
}
h1,p{
    text-align: center;
}
img{
    border-radius: 5px;
    order: 1;
    align-items: center;
    margin: 0 auto;
}
header div{
    order: 2;
    align-items: center;
    margin: 20px auto;
}
header p{
    margin:5px auto;
}

section{
        width: 100%;
    }
 .left_title{
     margin-left: -20px;
     font-size: 20px;
 }
}
